data=/path/to/dataset/of/CIFAR-FS/
num-classes=64
split-dir=./split/cifarfs/
lr 0.1
lr-gamma 0.1
optimizer=SGD
meta-val-interval=500
workers=12
arch=Res18
save-path=path/to/save/result/
model-path=path/to/pretrain_model/
scheduler=multi_step
lr-stepsize=2000
epochs=12000
image-size=32
enlarge=True
meta-train-way=5
meta-train-shot=1
meta-train-query=15
meta-val-way=5
meta-val-shot=1
meta-val-query=15
meta-test-way=5
meta-test-shot=1
meta-test-query=15
train-oway=5
train-oshot=1
train-oquery=15
val-oway=5
val-oshot=1
val-oquery=15
test-oway=5
test-oshot=1
test-oquery=15
gpu=1
meta-test-iter=600